{% extends 'news/home_base.html' %}

{% block head %}
  <!-- 必须添加的bootstarp的时间控件资源路径 -->
  <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet"> 
  <script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.25.3/moment-with-locales.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}  

{% block style %}
{% endblock %}  

{% block body %}
  <div class="welcome-container">
    <div class="welcome-message">欢迎来到医学信息安全评价</div>
  </div>
{% endblock %} 

{% block script %}

{% endblock %} 