<!DOCTYPE html>
<html>

<head>
  <title>Bootstrap 模板</title>
  <meta charset="UTF-8" />
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- 兼容IE浏览器 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- 引入 Bootstrap的css -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <!-- 包括所有已编译的插件 -->
  <script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
  <style type="text/css">
    a:hover,
    a:focus {
      color: #ffffff;
      text-decoration: none;
    }

    .panel-group {
      background-color: #404040;
      width: 250px;
      height: 600px;
      overflow-y: auto;
    }

    .panel-group .panel {
      background-color: #404040;
      border: none;
    }

    .panel-heading {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    .panel-default>.panel-heading {
      border: none;
      color: #ffffff;
      background-color: #505050;
    }

    .panel-default>.panel-heading>span {
      font-size: 10px;
    }

    .panel-default>.panel-heading:active,
    .panel-default>.panel-heading:hover {
      background-color: #4a8bc2;
    }

    .panel-default>.panel-heading>a:hover {
      text-decoration: none;
      background-color: #4a8bc2;
    }

    .panel-group .panel-heading+.panel-collapse>.panel-body {
      border: none;
    }

    .panel-body {
      padding: 0px;
    }

    .nav>li {
      padding: 1px 0px 0px 0px;
    }

    .nav>li>a {
      text-decoration: none;
      padding: 10px 10px 10px 35px;
    }

    .nav>li>a:hover,
    .nav>li>a:focus {
      background-color: #505050;
    }
  </style>
</head>

<body>
  <!--顶部导航栏部分-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" title="logoTitle" href="#">安全指标</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation">
            <a href="#">当前用户：<span class="badge">admin</span></a>
          </li>
          <li>
            <a href="../login/logout">
              <span class="glyphicon glyphicon-lock"></span>退出登录</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <form method="post" action="/task_center/">
          {% csrf_token %}
          <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top: 40px; margin-left: 15px;">
            <div class="form-group">
              <div class="row">
                <label class="control-label">指标类别</label>
                <div class="input-group">
                  <input type="text" maxlength="8" class="form-control" id="task_id" name="task_id" placeholder="请输入" />
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top: 40px; margin-left: 20px;">
            <div class="form-group">
              <div class="row">
                <label class="control-label">指标名称</label>
                <div class="input-group">
                  <input type="text" maxlength="30" class="form-control" id="task_name" name="task_name"
                    placeholder="请输入" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top: 40px; margin-left: 20px;">
            <div class="form-group">
              <div class="row">
                <label class="control-label">创建者</label>
                <div class="input-group">
                  <input type="text" maxlength="30" class="form-control" id="task_name" name="task_name"
                    placeholder="请输入" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-1 col-sm-1 col-xs-1" style="margin-top: 40px; margin-left: 5px;">
            <label class="control-label">状态</label>
            <div class="dropdown">
              <input type="hidden" id='dropdownMenu-value' name="dropdownMenu-value" value=全部>
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                按状态查找
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                <!-- 需要传入数据库场景列表 -->
                <li><a href="#">全部</a></li>
                <li role="separator" class="divider"></li>
                {% for task_state in task_state_data %}
                <li><a href="#">{{ task_state.task_state_name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="col-md-1 col-sm-1 col-xs-1" style="margin-top: 40px; margin-left: 30px;">
            <label class="control-label">时间</label>
            <div class="dropdown">
              <input type="hidden" id='dropdownMenu-value' name="dropdownMenu-value" value=今天>
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                按时间查找
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                <!-- 需要传入数据库场景列表 -->
                <li><a href="#">全部</a></li>
                <li role="separator" class="divider"></li>
                {% for task_state in task_state_data %}
                <li><a href="#">{{ task_state.task_state_name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <!-- <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top: 40px;">
            <div class="form-group">
              <label>开始时间</label>
              <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" id="start_time" name="start_time" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top: 40px;">
            <div class="form-group">
              <label>结束时间</label>
              <div class='input-group date' id='datetimepicker2'>
                <input type='text' class="form-control" id="end_time" name="end_time" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div> -->

          <div class="col-md-1 col-sm-1 col-xs-1" style="margin-top: 64px; margin-left: 30px;">
            <button type="reset" class="btn btn-default btn-block">
              重置
            </button>
          </div>

          <div class="col-md-1 col-sm-1 col-xs-1" style="margin-top: 64px;">
            <button type="submit" class="btn btn-primary btn-block">
              查询
            </button>
          </div>


        </form>
      </div>


      <script>
        // $(function () {
        //   var picker1 = $('#datetimepicker1').datetimepicker({
        //     format: 'YYYY-MM-DD',
        //     locale: moment.locale('zh-cn'),
        //     //minDate: '2016-7-1'
        //   });
        //   var picker2 = $('#datetimepicker2').datetimepicker({
        //     format: 'YYYY-MM-DD',
        //     locale: moment.locale('zh-cn')
        //   });
        //   //动态设置最小值
        //   picker1.on('dp.change', function (e) {
        //     picker2.data('DateTimePicker').minDate(e.date);
        //   });
        //   //动态设置最大值
        //   picker2.on('dp.change', function (e) {
        //     picker1.data('DateTimePicker').maxDate(e.date);
        //   });
        // });

        $(document).ready(function () {
          // 监听下拉菜单中的选项点击事件
          $('.dropdown-menu a').on('click', function () {
            // 获取被点击的选项文本
            var selectedOption = $(this).text();
            // 设置下拉菜单按钮上显示的文本为选中的选项文本
            $('#dropdownMenu1').html(selectedOption + ' <span class="caret"></span>');
            //设置input中的value
            $('#dropdownMenu-value').val(selectedOption);
          });
        });
      </script>



      {% if delete_failed == 'True' %}
      <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>警告！</strong>有场景存在时，必须存在至少一个指标
      </div>
      {% endif %}



      <div style="margin-bottom: 10px">
        <a class="btn btn-success" href="ind_create">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          新建指标
        </a>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
          指标列表
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>指标编号</th>
              <th>指标类别</th>
              <th>指标名称</th>
              <th>指标状态</th>
              <th>创建者</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {% for si in si_queryset %}
            <tr>
              <td id="num{{ forloop.counter }}"></td>
              <script>$("#num{{ forloop.counter }}").html(({{ now_page }} - 1) * 4 + {{ forloop.counter }});</script>
              <td>{{ si.si_category }}</td>
              <td>{{ si.si_name }}</td>
              <td>{{ si.si_state }}</td>
              <td>{{ si.si_creator }}</td>
              <td>{{ si.si_create_time }}</td>
              <td>
                <div class="container-fluid">

                  <form method="post" action="/admin/indicators">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="enable">
                    <input type="hidden" name="id" value="{{ si.si_id }}">
                    <input class="btn btn-primary btn-xs" type="submit" value="启用" />
                  </form>
                  <form method="post" action="/admin/indicators">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="disable">
                    <input type="hidden" name="id" value="{{ si.si_id }}">
                    <input class="btn btn-primary btn-xs" type="submit" value="禁用" />
                  </form>
                  <a class="btn btn-primary btn-xs" href="ind_update?id={{ si.si_id }}">编辑</a>

                  <div>
                    <a class="btn btn-danger btn-xs" href="#" data-toggle="modal" data-target="#confirmModal">删除</a>
                  </div>

                  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
                    aria-labelledby="confirmModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="confirmModalLabel">确认</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          确认删除吗？
                        </div>
                        <div class="modal-footer">
                          <form method="post" action="/admin/indicators">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="delete">
                            <input type="hidden" name="id" value="{{ si.si_id }}">
                            <input type="submit" class="btn btn-sm btn-danger" value="删除">
                          </form>
                          <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">取消</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-8" style="margin-top: 64px;">
        <!-- bootstrap 分页 -->
        <ul class="pagination" style="
            position: fixed;
            bottom: 0;
            height: 40px;
            width: 100%;
            text-align: center;">
          {% if last_page != none %}
          <li><a href="indicators?page={{ last_page }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
          {% endif %}
          {% for p in pages %}
          {% if "{{ forloop.counter }}" != "{{ now_page }}" %}
          <li><a href="indicators?page={{ p }}">{{ p }}</a></li>
          {% endif %}
          {% if "{{ forloop.counter }}" == "{{ now_page }}" %}
          <li class="active"><label>{{ p }}</label></li>
          {% endif %}
          {% endfor %}
          {% if next_page != none %}
          <li><a href="indicators?page={{ next_page }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</body>

</html>