<!DOCTYPE HTML>

<html>

<head>

 <meta charset="utf-8"/>

 <link rel="stylesheet" href="reference/bootstrap/css/bootstrap.min.css"/> 

 <script type="text/javascript" src="reference/jquery-2.0.3.min.js"></script>

 <script type="text/javascript" src="reference/bootstrap-paginator.js"></script>

</head>

<body>

 <p id="page"></p>

 <script type="text/javascript">

  $(function(){

   var options={

    bootstrapMajorVersion:1, //版本

    currentPage:1, //当前页数

    numberOfPages:5, //最多显示Page页

    totalPages:10, //所有数据可以显示的页数

    onPageClicked:function(e,originalEvent,type,page){

     console.log("e");

     console.log(e);

     console.log("originalEvent");

     console.log(originalEvent);

     console.log("type");

     console.log(type);

     console.log("page");

     console.log(page);

    }

   }

   $("#page").bootstrapPaginator(options);

  })

 </script>

</body>

</html>