
body {
    background-image: url('SEP-Med/SoftEvaPlt/statics/images/1644639646707.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  